<div class="row" style="margin-top: 3vh; width: 1100px;">
    <div class="col-10">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Buscar..." />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>
    </div>
    <div class="col-2">
        <button nz-button nzType="default">
            <img style="width: 10px; margin-right: 10px;" src="assets/img/plus.svg"/>
            Adicionar
        </button>
    </div>
</div>

<div class="col">
    <app-card-veiculo *ngFor="let i of arr"></app-card-veiculo>
</div>
