<nz-card style="width: 1024px; margin-top: 2vh;">
    <div class="row">
        <div class="col-10">
            <span style="font-weight: bold; font-size: 24px;">Marca</span><span style="font-size: 24px;"> Modelo</span>
        </div>
        <div class="col-2" style="display: flex; align-items: center;"><span style="cursor: pointer;"><img style="width: 10px; margin-right: 5px;" src="assets/img/remove.svg"/> Remover</span></div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-8"><span style="font-weight: bold;">Versão: </span><span>abcd</span></div>
        <div class="col-4"><span style="font-weight: bold;">Ano: </span><span>2020/2021</span></div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-4"><span style="font-weight: bold;">Cor: </span><span>Preto</span></div>
        <div class="col-4"><span style="font-weight: bold;">Blindado: </span><span>Sim</span></div>
        <div class="col-4"><span style="font-weight: bold;">KM: </span><span>10.210 km</span></div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-4"><span style="font-weight: bold;">Placa: </span><span>KUH9012</span></div>
        <div class="col-8"><span style="font-weight: bold;">Renavam: </span><span>123123312321</span></div>
    </div>
</nz-card>