<nz-card class="mt-4">
    <div class="row">
        <div class="col-10">
            <span class="fw-b fs-24">{{item?.marca}}</span><span class="fs-24"> {{item?.modelo}}</span>
        </div>
        <div class="col-2 d-flex align-items-center">
            <i class="bi bi-trash"></i>
            <a
                nz-popconfirm
                nzPopconfirmTitle="Tem certeza que deseja remover o veículo?"
                nzOkText="Confirmar"
                nzCancelText="Voltar"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(item.id)"
                (nzOnCancel)="cancel()"
            >
            Remover
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8"><span class="fw-b">Versão: </span><span>{{item?.versao}}</span></div>
        <div class="col-4"><span class="fw-b">Ano: </span><span>{{item?.anoFabricacao}}/{{item?.anoModelo}}</span></div>
    </div>
    <div class="row mt-3">
        <div class="col-4"><span class="fw-b">Cor: </span><span>{{item?.cor ? item.cor : 'N/A'}}</span></div>
        <div class="col-4"><span class="fw-b">Blindado: </span><span>{{item?.blindado ? 'Sim' : 'Não'}}</span></div>
        <div class="col-4"><span class="fw-b">KM: </span><span>{{item?.kilometragem ? (item.kilometragem | currency:'':'':'0.0-1')+' km' : 'N/A'}}</span></div>
    </div>
    <div class="row mt-3">
        <div class="col-4"><span class="fw-b">Placa: </span><span>{{item?.placa | uppercase}}</span></div>
        <div class="col-8"><span class="fw-b">Renavam: </span><span>{{item?.renavam}}</span></div>
    </div>
</nz-card>