<nz-card style="width: 100%;  min-width: 1024px; margin-top: 2vh;">
    <div class="row">
        <div class="col-10">
            <span class="fw-b fs-24">Marca</span><span class="fs-24"> Modelo</span>
        </div>
        <div class="col-2" style="display: flex; align-items: center;"><span style="cursor: pointer;"><i class="bi bi-trash" style="margin-right: 5px;"></i>Remover</span></div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-8"><span class="fw-b">Versão: </span><span>abcd</span></div>
        <div class="col-4"><span class="fw-b">Ano: </span><span>2020/2021</span></div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-4"><span class="fw-b">Cor: </span><span>Preto</span></div>
        <div class="col-4"><span class="fw-b">Blindado: </span><span>Sim</span></div>
        <div class="col-4"><span class="fw-b">KM: </span><span>10.210 km</span></div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-4"><span class="fw-b">Placa: </span><span>KUH9012</span></div>
        <div class="col-8"><span class="fw-b">Renavam: </span><span>123123312321</span></div>
    </div>
</nz-card>
